<html>
<head>
	<meta charset="utf-8">
	<title>Qida</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
</head>
<frameset cols="25%,*" border="2" frameborder="1" framespacing="5" bordercolor="#CADAE8" >
      <frame src="/node-zk/tree" id="tree" name="tree" marginwidth="0" marginheight="0"/>
      <frame src="/node-zk/get" id="content" name="content" marginwidth="0" marginheight="0"/>				    
</frameset>
</html>